<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://cs13.pikabu.ru/post_img/2020/06/06/9/og_og_15914536592342807.jpg">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://cs13.pikabu.ru/post_img/2020/06/06/9/og_og_15914536592342807.jpg">
    
    <meta property="og:description"        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat diam ut tempor hendrerit. Mauris eget mollis purus, at congue urna. Curabitur scelerisque erat at mollis sollicitudin. Orci varius natoque penatibus et " />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Решето Эратосфена</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mb-2">
        <h1>Решето Эратосфена</h1>
        <br>
      </div>
      <div id="example-1">
        <div class="row justify-content-center mb-2">
          <div class="col col-md-3">
            <span style="vertical-align:-webkit-baseline-middle!important">Введите количесвто чисел:</span>
          </div>
          <div class="col col-md-3">
            <input type="number" min="1" max="10000" class="form-control" v-model="numbers" placeholder="numbers">
          </div>
          <div class="col col-md-3">
            <button class="btn btn-block btn-outline-secondary" v-on:click="get_prime_numbers">найти простые числа</button>
        </div>
        </div>
        <div class="row justify-content-center mb-2">
          <div class="col col-md-9">
            <table class="table">
              <tr v-for="row in rows">
                <td v-for="j in cells_in_row" v-if="row!=rows || j<=last_row_ceil" 
                v-bind:class="{ d_cell :  (prime_numbers [((row-1)*cells_in_row)+j] === false), g_cell : prime_numbers [((row-1)*cells_in_row)+j] }">
                  {{((row-1)*cells_in_row)+j}}
                </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="test.js"></script>
    
    <!-- Put this script tag to the <head> of your page -->
<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

<!-- Put this script tag to the place, where the Share button will be -->
<script type="text/javascript"><!--
document.write(VK.Share.button(false,{type: "round_nocount", text: "Сохранить"}));
--></script>
  </body>
</html>
